adminSrcAddr   = ["192.168.2.1/32", "192.168.2.3/32", "192.168.4.3/32"]
gceSshPubKey   = "ssh-rsa AAAAB3NzaC1yc2EAAAA..."
gcp_project_id = "my-project"
uname          = "zadmin"
usecret        = "my-demo-secret"
prefix         = "demo"
dns_suffix     = "c.<my-project>.internal"
gcp_region     = "us-east1"
gcp_zone       = "us-east1-b"
svc_acct       = "myaccount@<myproject>.iam.gserviceaccount.com"
privateKeyId   = "abcdcba123321"
ksecret        = "svc-acct-secret"
license1       = ""
license2       = ""